export(find_dominant_colour)
export(pairwise_comparison)
export(stretch_images)
export(compare_similarities_two_images)
export(compare_similarities_same_image)
import(magick)
import(ggplot2)
import(cowplot)
import(zip)
import(shinybusy)
importFrom("knitr", "plot_crop")
importFrom("utils", "write.csv")
importFrom("grDevices", "rgb")
importFrom("stats", "kmeans")